{% extends "layout.html" %} {% block content %}
<body>
  <div class="container text-center">
    <div class="cont" id="page">
      <h1>Quiz</h2>
    <div class="translation">
      <hr/>
      <h2 class="invert-text">𓎡𓅲𓇋𓊃</h2>
    </div>
    <p class="light-grey gameplay-p text-center">
      Test your knowledge on ERS by answering questions about Basic Gameplay and
      Slap Rules!
    </p>
    <a href="/quiz/questions"><button>Start Quiz</button></a>
  </div>
</body>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
{% endblock %}
