{% extends "layout.html" %}

{% block content %}
<body>
<div class="slideshow-container">
    <div class="cont" id="page">
		<h1>Slap Rules</h2>
	<div class="translation">
		<hr/>
		<h2 class="invert-text">𓋴𓃭𓄿𓊪 𓂋𓅲𓃭𓅂𓋴</h2>
	</div>
	<div class = "gameplay-cont">
		<div class="gameplay-instructions">
			<h3>
				<span class="bold">DOUBLES</span>
			</h3>
			<p class = "gameplay-p">
				A <span class="bold">double</span> is a pair of consecutive cards with the same value.				
			</p>
		</div>
		<img class = "slap-rules-img" src = "../static/images/slap-rules/doubles-lg.png"/>
	</div>
</div>
<div class="buttons">
	<a href="/rules"><button id="prev" >Prev</button></a>
	<a href="/top-bottom"><button >Next 𓃆</button></a>
</div>
</body>
{% endblock %}