{% extends "layout.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='cards/cards.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='rules/four.css')}}">
</head>
<header>
    <h1>Four-in-a-Row</h1>
	<h2>A <span class="bold">four-in-a-row</span> is when four cards with values in consistent ascending or descending order are placed. <span class="bold"> Ex: 5, 6, 7, 8 or Q, K, A, 2</span></h2>
</header>
<div class="card-container">
	<a href="/extra-tens"><button type="button" class="btn btn-outline-danger">&#8701; PREVIOUS</button></a>
    <div class="five of spades card" tabindex="0">
        <div class="interior">
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
        </div>
    </div>
	<div class="six of diamonds card" tabindex="0">
        <div class="interior">
            <div class="symbol"></div>
            <div class="symbol"></div>
			<div class="symbol"></div>
            <div class="symbol"></div>
			<div class="symbol"></div>
            <div class="symbol"></div>
        </div>
    </div>
	<div class="seven of hearts card" tabindex="0">
        <div class="interior">
            <div class="symbol"></div>
            <div class="symbol"></div>
			<div class="symbol"></div>
            <div class="symbol"></div>
			<div class="symbol"></div>
            <div class="symbol"></div>
			<div class="symbol"></div>
        </div>
    </div>
    <div class="eight of hearts card" tabindex="0">
        <div class="interior">
            <div class="symbol"></div>
            <div class="symbol"></div>
			<div class="symbol"></div>
            <div class="symbol"></div>
			<div class="symbol"></div>
            <div class="symbol"></div>
			<div class="symbol"></div>
			<div class="symbol"></div>
        </div>
    </div>
</div>

{% endblock %}
