{% extends "layout.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='cards/cards.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='rules/top-bottom.css')}}">
</head>
<header>
    <h1>Top-Bottom</h1>
	<h2>A <span class="bold">top-bottom</span> occurs when the value of the card at the top of the stack matches the value of the card at the bottom of the stack.</h2>
</header>
<div class="card-container">
	<a href="/standard-sandwich"><button type="button" class="btn btn-outline-danger">&#8701; PREVIOUS</button></a>
	<div class="stack">
		<div class="three of diamonds card" tabindex="0">
			<div class="interior">
				<div class="symbol"></div>
				<div class="symbol"></div>
				<div class="symbol"></div>
			</div>
		</div>
		<div class="dots">...</div>
		<div class="three of spades card" tabindex="0">
			<div class="interior">
				<div class="symbol"></div>
				<div class="symbol"></div>
				<div class="symbol"></div>
			</div>
		</div>
	</div>
	<a href="/extra-royal"><button type="button" class="btn btn-outline-danger">NEXT &#8702;</button></a>
</div>

{% endblock %}
