{% extends "layout.html" %}

{% block content %}
<body>
<div class="slideshow-container">
    <div class="cont" id="page">
		<h1>Slap Rules</h2>
	<div class="translation">
		<hr/>
		<h2 class="invert-text">𓋴𓃭𓄿𓊪 𓂋𓅲𓃭𓅂𓋴</h2>
	</div>
	<div class = "gameplay-cont">
		<div class="gameplay-instructions">
			<h3>
				<span class="bold">FOUR-IN-A-ROW</span>
			</h3>
			<p class = "gameplay-p">
				A <span class="bold">four-in-a-row</span> consists of 4 cards in descending or ascending order.			
			</p>
		</div>
		<img class = "slap-rules-img" src = "../static/images/slap-rules/four-in-a-row-lg.png"/>
	</div>
</div>
<div class="buttons">
	<a href="/royal-marriage"><button class="white-button">Prev</button></a>
	<a href="/practice"><button class="red-button">Go to Practice 𓃆</button></a>
</div>
</body>
{% endblock %}