{% extends "layout.html" %}

{% block content %}
<body>
<div class="slideshow-container">
    <div class="cont" id="page">
		<h1>Slap Rules</h2>
	<div class="translation">
		<hr/>
		<h2 class="invert-text">𓋴𓃭𓄿𓊪 𓂋𓅲𓃭𓅂𓋴</h2>
	</div>
	<div class = "gameplay-cont">
		<div class="gameplay-instructions">
			<h3>
				<span class="bold">ROYAL MARRIAGE</span>
			</h3>
			<p class = "gameplay-p">
				A <span class="bold">royal marriage</span> is when a king and queen are placed down consecutively.				
			</p>
		</div>
		<img class = "slap-rules-img" src = "../static/images/slap-rules/royal-lg.png"/>
	</div>
</div>
<div class="buttons">
	<a href="/sandwich"><button class="white-button">Prev</button></a>
	<a href="/tens"><button class="red-button">Next 𓃆</button></a>
</div>
</body>
{% endblock %}