{% extends "layout.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='cards/cards.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='rules/sandwich.css')}}">
</head>
<header>
    <h1>Sandwich</h1>
	<h2>A <span class="bold">sandwich</span> occurs when two cards of the same value are played consecutively, with a different value card played in between them.</h2>
</header>
<div class="card-container">
	<a href="/standard-doubles"><button type="button" class="btn btn-outline-danger">&#8701; PREVIOUS</button></a>
    <div class="six of diamonds card" tabindex="0">
        <div class="interior">
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
        </div>
    </div>
	<div class="jack of hearts card" tabindex="0">
        <div class="interior">
            <div class="symbol"></div>
            <div class="symbol"></div>
        </div>
    </div>
    <div class="six of spades card" tabindex="0">
        <div class="interior">
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
        </div>
    </div>
	<a href="/extra-top"><button type="button" class="btn btn-outline-danger">NEXT &#8702;</button></a>
</div>

{% endblock %}
