{% extends "layout.html" %}

{% block content %}
<body>
<div class="slideshow-container">
    <div class="cont" id="page">
		<h1>Gameplay</h2>
	<div class="translation">
		<hr/>
		<h2 class="invert-text">𓎼𓄿𓅓𓅂𓊪𓃭𓄿𓇌</h2>
	</div>
	<div class = "gameplay-cont">
		<div class="gameplay-instructions">
			<h3>
				HOW TO <span class="bold">DEAL</span>
			</h3>
			<p class = "gameplay-p">
				Deal a full deck of cards (minus the jokers) face down to each player until all the cards have been dealt evenly. 
			</p>
		</div>
		<img class = "gameplay-img" src = "../static/images/deal.PNG"/>
	</div>
</div>
<div class="buttons">
	<a href="/gameplay"><button class="white-button" >Prev</button></a>
	<a href="/gameplay/2"><button class="red-button" >Next 𓃆</button></a>
</div>
</body>

{% endblock %}