{% extends "layout.html" %}

{% block content %}
<body>
<div class="slideshow-container">
    <div class="cont" id="page">
		<h1>Gameplay</h2>
	<div class="translation">
		<hr/>
		<h2 class="invert-text">𓎼𓄿𓅓𓅂𓊪𓃭𓄿𓇌</h2>
	</div>
	<div class = "gameplay-cont">
			<h3>
				WHAT IS <span class="bold">EGYPTIAN RAT SLAP?</span>
			</h3>
			<p class = "gameplay-p">
				Egyptian Rat Slap is a card game played by at least 2 players using a deck of 52 playing cards. Players take turns flipping cards onto a central pile, and certain card combinations prompt players to slap the pile to win cards. The first player to collect all the cards wins.
			</p>
	</div>
</div>
<div class="buttons">
	<a href="/"><button class="white-button" >Prev</button></a>
	<a href="/gameplay/1"><button class="red-button" >Next 𓃆</button></a>
</div>
</body>
{% endblock %}