{% extends "layout.html" %}

{% block content %}
<body>
<div class="slideshow-container">
    <div class="cont" id="page">
		<h1>Gameplay</h2>
	<div class="translation">
		<hr/>
		<h2 class="invert-text">𓎼𓄿𓅓𓅂𓊪𓃭𓄿𓇌</h2>
	</div>
	<div class = "gameplay-cont">
		<div class="gameplay-instructions">
			<h3>
				HOW TO <span class="bold">PLAY</span>
			</h3>
			<p class = "gameplay-p">
				<span class="bold">First</span>, the person to left of the dealer places their top card face-up in the middle.
			</p>
		</div>
		<img class = "gameplay-img" src = "../static/images/play.PNG"/>
	</div>
</div>
<div class="buttons">
	<a href="/gameplay/1"><button class="white-button"  >Prev</button></a>
	<a href="/gameplay/3"><button class="red-button" >Next 𓃆</button></a>
</div>
</body>
{% endblock %}