{% extends "layout.html" %}

{% block content %}
<body>
<div class="slideshow-container">
    <div class="cont" id="page">
		<h1>Gameplay</h2>
	<div class="translation">
		<hr/>
		<h2 class="invert-text">𓎼𓄿𓅓𓅂𓊪𓃭𓄿𓇌</h2>
	</div>
	<div class = "gameplay-cont">
		<div class="gameplay-instructions">
			<h3>
				HOW TO <span class="bold">PLAY</span>
			</h3>
			<p class = "gameplay-p">
				<span class="bold">If a face card is placed:</span> the next player must place a face card to continue the game.
				The number of chances they have to play a face card is determined by the initial face card:
			</p>
			<div class = "gameplay-p">
				<ul class="gameplay-ul padding-10">
					<li>Ace - 4 Cards</li>
					<li>King - 3 Cards</li>
					<li>Queen - 2 Cards</li>
					<li>Jack - 1 Card</li>
				</ul>
			</div>
			<p class = "gameplay-p">
				If they don’t place a face card, the previous player takes the deck and a new round starts. 
			</p>
		</div>
		<img class = "gameplay-img-3" src = "../static/images/play-3.png"/>
	</div>
</div>
<div class="buttons">
	<a href="/gameplay/3"><button class="white-button"  >Prev</button></a>
	<a href="/gameplay/5"><button class="red-button" >Next 𓃆</button></a>
</div>
</body>
{% endblock %}