{% extends "layout.html" %}

{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="cont">
			<h6>HOW TO PLAY</h6>
			<h1>Egyptian Rat Screw</h2>
		<div class="translation">
			<hr/>
			<h2 class="invert-text">𓄿𓊪𓅂𓎼𓇌𓊪𓏏𓇋𓄿𓈖𓂋𓄿𓏏𓋴𓃭</h2>
		</div>
		<p class="description">Learn the game rules, and practice your skills to become the ultimate slapping champion in this famous card game.
		</p>
		<a href="/gameplay"><button class="red-button">Start Slappin' 𓃆</button></a>
	</div>
</body>
</html>
{% endblock %}