{% extends "layout.html" %}

{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row hometitle">
        <div class="col-md-6 text-center ">
            <h2 class= "dark-grey">Egyptian Rat Screw</h2>
            <p class="light-grey">Learn how to play Egyptian Rat Screw and practice spotting the different slap variations!
            </p>
            <a href="/gameplay"><button >Start Tutorial</button></a>
        </div>
        
    </div>

    

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script> -->
</body>
</html>
{% endblock %}