{% extends "layout.html" %}

{% block content %}
<html lang="en">

<body >

<header>
    <h1>Slap Rules</h1>
	<p>"Slap in" at the right time to get cards. Learn the slap rules below.</p>
</header>

<h2>Standard Slaps:</h2>
<div class="button-group">
  <a href="/standard-doubles"><button type="button" class="btn btn-outline-danger rule-btn">Doubles</button></a>

  <a href="/standard-sandwich"><button type="button" class="btn btn-outline-danger rule-btn">Sandwich</button></a>
</div>

<h2>Extra Slaps:</h2>
<div class="button-group" style="">
  <a href="/extra-top"><button type="button" class="btn btn-outline-danger rule-btn">Top-Bottom</button></a>

  <a href="/extra-royal"><button type="button" class="btn btn-outline-danger rule-btn">Royal Marriage</button></a>

  <a href="/extra-tens"><button type="button" class="btn btn-outline-danger rule-btn">Tens</button></a>

  <a href="/extra-four"><button type="button" class="btn btn-outline-danger rule-btn">Four-in-a-Row</button></a>
</div>

</body>
</html>


{% endblock %}