{% extends "layout.html" %}

{% block content %}
<html lang="en">

<body >

<h1 class="gameplaytitle">Slap Rules</h1>

<div class="rules_subtitle">Standard:</div>
<div class="button-group">
  <a href="/standard-doubles" class="button">Doubles</a>

  <a href="/standard-sandwich" class="button">Sandwich</a>
</div>

<div class="rules_subtitle">Extra:</div>
<div class="button-group" style="">
  <a href="/extra-top" class="button">Top Bottom</a>

  <a href="/extra-royal" class="button">Royal Marriage</a>

  <a href="/extra-tens" class="button">Tens</a>

  <a href="/extra-four" class="button">Four in a Row</a>
</div>

</body>
</html>


{% endblock %}