{% extends "layout.html" %} {% block content %}
<body>
    <div class="container ">
        <div class="cont" id="page">
          <div class="top-cont">
            <div class="score-cont">
              <div class ="gameplay-p bold margin-0">Score</div>
              <div class = "gameplay-p light-grey margin-0" >Correct: <span id="score-correct"> </span></div>
              <div class = "gameplay-p light-grey margin-0" >Incorrect: <span id="score-incorrect"> </span></div>
            </div>
            <div class="title">
              <h1>Walkthrough</h2>
                <div class="translation">
                  <hr/>
                  <h2 class="invert-text">𓎡𓅲𓇋𓊃</h2>
                </div>
            </div>
            <div class="filler-cont"></div>
          </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='practice_script.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='practice.css')}}" />
{% endblock %}
