{% extends "layout.html" %} {% block content %}
<body>
    <div class="container ">
        <div class="cont" id="page">
            <div class="top-cont">
                <div class="score-cont">
                    <div class ="gameplay-p bold margin-0">Score</div>
                    <div class = "gameplay-p light-grey margin-0" >Correct: <span id="score-correct"> </span></div>
                    <div class = "gameplay-p light-grey margin-0" >Incorrect: <span id="score-incorrect"> </span></div>
                </div>
                <div class="title">
                    <h1>Walkthrough</h2>
                    <div class="translation">
                        <hr/>
                        <h2 class="invert-text">𓎡𓅲𓇋𓊃</h2>
                    </div>
                </div>
                <div class="filler-cont"></div>
            </div>

            <div class="practice-cont">
                <!-- <div id = "img-location" class = "img-location"> </div> -->
                <div id="card-container"></div>
            </div>

            <div class="bottom-cont">
                <div class="exit-button">
                    <a href="/"><button class="white-button exit-button">Exit</button></a>
                </div>
                <a href="/gameplay/5"><button class="red-button slap-button">SLAP! 𓃆</button></a>

                <div class="next-button">
                    <a href="/gameplay/5"><button class="white-button next-button">Next Card</button></a>
                </div>
	           
            </div>

                
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='practice_script.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='practice.css')}}" />
{% endblock %}
